div{
    border: solid;
    height: 200px;
    width: 40%;
}

.box1{
    position: absolute;
    background-color: thistle;
    margin-top: 30%;
    margin-left: 30%;
}

.box2{
    position: absolute;
    background-color: yellowgreen;
    margin-top: 15%;
    margin-left: 30%;
}